<div class="flex">
  <%= render 'layouts/header' %>

  <div class="container-xxl h100">

    <div class="row h100 container-fluid header_container border bg-light">
      <div class="col-3 ">
      </div>
      <div class="col-9">
        <p class="h1 ms-5">Home page</p>
      </div>
    </div>
  </div>
</div>
