.alert_message{
  z-index: 1;
}

.categories_block .bord_dotted{
  border: 1px dotted #6c757d;
}

.alert-message .alert-icon {
  width: 3rem;
}

.alert-message .close{
  font-size: 1rem;
  color: #a6a6a6;
}

.alert-danger .alert-icon {
  background-color: #ff5e5e;
}

.alert-success .alert-icon {
  background-color: #3cb371;
}

 .pencil:hover .fa-pencil {
   color:red !important;
}
.trash:hover .fa-trash {
  color:red !important;
}

#category-tab .row{
  height: 35px;
}